

*{
  margin: 0;
  padding: 0;
	list-style: none;
	text-decoration: none;
	transition: .3s
}

p {
  color: #888;
  font: .9em 'Slabo 27px', serif;
  margin: 5%;
  line-height: 1.4em;

}


body{
	background: transparent url("lorem.png");
  color: black;
  font: 1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
  height: 100%;
}

html{
  height: 100%;
}

header {
	padding: 20px;
	background: #4fe;
	opacity: .9;
}

header a {
	width: 100%;
	color: #fff;
	font-size: 2em;
	text-align: center;
}

header:hover {
	background:red;
	opacity: .5;
}

.container{
  margin: auto;
  width: 100%;
	height:100%;
}



#wrapper {
	background: #eee;
	width: 55%;
	height: auto;
	margin: auto;
	box-shadow: 0px 0px 10px #aaa;

}

h1 {
	color: #666;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	line-height: 1.5em;

}

.container h1 {
	background: #fff;
	opacity: .8;
}

#primary ul li{
	padding-top: 15px;
	padding-left: 15px;
	height: 30px;
	width: 25%;
	background: #9CFFE6;
	box-shadow: 1px 0px 5px #ddd;
	margin-top:10px;

}

#primary ul li:hover{
	background:#4df;
	width:100%;
	opacity: 1;
	}

#assignments a {
	color:white;
	font-size: 1em;
	font-family: 'Slabo 27px', serif;

}

#primary .future {
	background: red;
	opacity: .05;
}

#primary .future:hover {
	background: red;
	opacity: .6;
	width:100%;
}

@media only screen and (max-width: 880px){
#wrapper { width: 90%; margin-left: auto;}

#primary ul li{width: 50%;}

}
