/*Layer 7*/

.ambience {

}

.amb-darkness{
	position: absolute;
	background: url("img/amb-darkness.svg")  center center;
}

.amb-sunlight-all{
	background: transparent url("img/amb-sunlight-all.svg") ;

}


.stars {
	background: transparent url("img/stars.svg") ;

}

.cloud1{
	background: transparent url("img/cloud1.svg") ;

}

.cloud2{
	background: transparent url("img/cloud2.svg") ;

}

.cloud3 {
	background: transparent url("img/cloud3.svg") ;

}

/*Layer 6*/

.trees{

}

.trees1{
	background: transparent url("img/trees1.svg") ;

}
.trees2{
	background: transparent url("img/trees2.svg") ;

}

/*Layer 5*/
.ambience-back{

}

.amb-sunlight-back{
	background: transparent url("img/amb-sunlight-back.svg") ;

}

/*Layer 4*/
.volcano {
	background: transparent url("img/volcano.svg") ;

}

/*Layer 3*/
.smoke {

}

.smoke1 {
	background: transparent url("img/smoke1.svg") ;

}

.smoke2 {
	background: transparent url("img/smoke2.svg") ;

}

.smoke3 {
	background: transparent url("img/smoke3.svg") ;
}

/*Layer 2*/
.crater {
	background: transparent url("img/crater.svg") ;

}


/*Layer 1*/
.sky {

}

.night {
	background: transparent url("img/sky-night.svg") ;

}

.twilight {
	background: transparent url("img/sky-twilight.svg") ;
	
}

.day {
	background: transparent url("img/sky-day.svg") ;

}